name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 4'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: adopt
    - uses: coursier/cache-action@v6
    - run: sbt checkGenerate "+test"
